@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400,500&display=swap');


:root {
    --primary: #000000;
    --secondary: #ffffff;
    --dark-test: #6f6f6f;
    --bg: #ffffff;
    --nav-bg: #f5f5f5;
    --footer-bg: #000000;
    --logo-bg: #ff0000;
    --padding: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Golos Text", sans-serif;
    color: var(--primary-text);
    background: var(--bg);
}

a {
    color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4em;

    &:hover {
        opacity: 0.8;
    }
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding);
}